body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgb(186, 186, 186);
  text-align: center;
}
table thead {
  background: #1f365a;
  color: #eeeeee;
}
th {
  border: 1px solid #2c699e;
}

tbody tr:nth-child(odd) {
  background: #ffffff;
}
tbody tr:nth-child(even) {
  background: #ecf6ff;
}
.name-col {
  min-width: 200px;
  text-align: left;
}
.date th {
  font-size: 13px;
  font-weight: 100;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 4px;
  color: #1f365a;
  margin: 0;
}
h2 {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.controls {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.controls button {
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
  background: #3c87c8;
  font-size: 14px;
  letter-spacing: 1px;
  color: #eeeeee;
}

/* Form styles */
input {
  padding: 15px;
  width: 100%;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
}
input[type="submit"] {
  background: #1f365a;
  color: #eeeeee;
  max-width: 150px;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 1px;
}
.modal {
  width: 100%;
  height: 100vh;
  background: #000000b9;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.add-student-modal {
  background: #eeeeee;
  width: 400px;
  padding: 20px 50px 30px 50px;
  border-radius: 10px;
}
.add-student-modal #student-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
